In [36]:
import pandas as pd
import numpy as np

In [37]:
print(np.__version__)

1.24.3

In [38]:
dataset=pd.read_csv("CKD.csv")

In [39]:
dataset.head(250)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.0,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.0,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.0,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.0,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.0,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,60.0,70.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,140.000000,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,no,yes
246,60.0,90.000000,c,2.0,0.0,abnormal,normal,notpresent,notpresent,105.000000,...,33.000000,10500.000000,4.100000,no,no,no,yes,poor,no,yes
247,60.0,60.000000,c,3.0,1.0,normal,abnormal,present,notpresent,288.000000,...,25.000000,15200.000000,3.000000,yes,no,no,poor,poor,yes,yes
248,60.0,80.000000,a,0.0,2.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,yes,no,yes,poor,no,yes
249,60.0,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,261.000000,...,38.868902,4200.000000,3.400000,yes,no,no,yes,poor,no,yes

In [40]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [41]:
dataset=dataset.astype(float)

In [42]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [43]:
independent=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [44]:
dependent=dataset[['classification_yes']]
dependent

     classification_yes
0                   1.0
1                   1.0
2                   1.0
3                   1.0
4                   1.0
..                  ...
394                 1.0
395                 1.0
396                 1.0
397                 1.0
398                 0.0

[399 rows x 1 columns]

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.3,random_state=0)

In [46]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [47]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 7, metric = 'minkowski', p = 2)
classifier.fit(X_train, Y_train)

C:\Anaconda\Lib\site-packages\sklearn\neighbors\_classification.py:228: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=7)

In [48]:
Y_pred = classifier.predict(X_test)

In [49]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,Y_pred)

In [50]:
from sklearn.metrics import classification_report
clf_report= classification_report(Y_test,Y_pred)

In [51]:
from sklearn.metrics import f1_score
f1_macro=f1_score(Y_test,Y_pred,average='weighted')
print("The f1_macro value for best parameter {}:",f1_macro)

The f1_macro value for best parameter {}: 0.9505208333333334

In [52]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[45  0]
 [ 6 69]]

In [53]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

         0.0       0.88      1.00      0.94        45
         1.0       1.00      0.92      0.96        75

    accuracy                           0.95       120
   macro avg       0.94      0.96      0.95       120
weighted avg       0.96      0.95      0.95       120

In [54]:
from sklearn.metrics import roc_auc_score
roc_auc_score(Y_test,Y_pred)

0.96

In [55]:
table=pd.DataFrame.from_dict(dataset)
table

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [57]:
age_input=float(input("Age:"))
bp_input=float(input("BP:"))
al_input=float(input("AL:"))
su_input=float(input("SU:"))
bgr_input=float(input("BGR:"))
bu_input=float(input("BU:"))
sc_input=float(input("SC:"))
sod_input=float(input("SOD:"))
pot_input=float(input("POT:"))
hrmo_input=float(input("HRMO:"))
pcv_input=float(input("PCV:"))
wc_input=float(input("WC:"))
rc_input=float(input("RC:"))
sg_b_input=int(input("SG_B:"))
sg_c_input=int(input("SG_C:"))
sg_d_input=int(input("SG_D:"))
sg_e_input=int(input("SG_E:"))
rbc_normal_input=int(input("RBC_NORMAL:"))
pc_normal_input=int(input("PC_NORMAL:"))
pcc_present_input=int(input("PCC_PRESENT:"))
ba_present_input=int(input("BA_PRESENT:"))
htn_yes_input=int(input("HTN_YES:"))
dm_yes_input=int(input("DM_YES:"))
cad_yes_input=int(input("CAD_YES:"))
appet_yes_input=int(input("APPET_YES:"))
pe_yes_input=int(input("PE_YES:"))
ane_yes_input=int(input("ANE_YES:"))

Age:36
BP:80
AL:3
SU:2
BGR:90
BU:52
SC:1.5
SOD:136
POT:4
HRMO:13
PCV:34
WC:6000
RC:4
SG_B:2
SG_C:1
SG_D:2
SG_E:1
RBC_NORMAL:1
PC_NORMAL:0
PCC_PRESENT:0
BA_PRESENT:1
HTN_YES:0
DM_YES:0
CAD_YES:0
APPET_YES:1
PE_YES:1
ANE_YES:1

In [60]:
Future_Prediction=([[age_input,bp_input,al_input,su_input,bgr_input,bu_input,sc_input,sod_input,pot_input,hrmo_input,
                                 pcv_input,wc_input,rc_input,sg_b_input,sg_c_input,sg_d_input,sg_e_input,rbc_normal_input,
                                 pc_normal_input,pcc_present_input,ba_present_input,htn_yes_input,dm_yes_input,cad_yes_input,
                                 appet_yes_input,pe_yes_input,ane_yes_input,]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[[36.0, 80.0, 3.0, 2.0, 90.0, 52.0, 1.5, 136.0, 4.0, 13.0, 34.0, 6000.0, 4.0, 2, 1, 2, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1]]